[user]
  email = patrick@example.com
  name = Patrick McVeety-Mill
[branch]
  autosetuprebase = always
[push]
  default = simple
[pull]
  rebase = true
[diff]
  tool = bc4x
  renames = copies
[difftool "bc4x"]
  cmd = \"c:/program files/beyond compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[merge]
  external = bc4x
[mergetool "bc4x"]
  cmd = \"c:/program files/beyond compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
[mergetool]
  prompt = false
  keepBackup = false
[credential]
  helper = wincred
[gui]
[core]
  autocrlf = true
  whitespace = cr-at-eol
  editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -nosession -noPlugin
[help]
  autocorrect = -1
[alias]
  st = status
  co = checkout
  cob = checkout -b
  ada = add --all
  ci = commit
  cim = commit -m
  cam = commit --amend -m
  acim = !git ada && git cim
  br = branch
  rb = rebase
  rbi = rebase --interactive
  rbc = rebase --continue
  rba = rebase --abort
  dt = difftool --dir-diff
  dts = difftool --staged --dir-diff
  rh = reset HEAD
  wip = !git ada && git cim WIP
  unwip = reset HEAD~1
  sync = !git fetch origin master:master && git rebase main
  pushf = push --force-with-lease
  open = !explorer `git config remote.origin.url`
  browse = !git open
